<div class="container">
    <div class="row">
        <div class="main mx-auto my-auto">
            <h1>FreshCoders</h1>
            <p>駆け出しエンジニアのためのコミュニティサイト</p>
        </div>
    </div>
    <div class="row">
        <div class="about mx-auto my-auto">
            <p>FreshCodersは学生、転職希望者、自己学習者などのプログラミング初学者たちの交流サイトです。<br>
                初学者ならではの悩みや情報を共有し、ともにスキル向上を目指しましょう！</p>
            <%= link_to posts_path, class: 'btn btn-success mx-auto' do %>
                FreshCodersに参加する
            <% end %>
        </div>
    </div>
</div>